/* @group basics */

* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  font: 14px/20px 'ABeeZee',Georgia, "Times New Roman", Times, serif;
  color: #848484;
}

body.grid {
  background-image: url(../images/grid.png);
}

h1 {
  font-size: 41px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

h2 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #848484;
}

h3 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

p {
  margin-bottom: 20px;
}

a:link, a:visited {
  color: #3c3c3c;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  text-decoration: underline;
  color: #000;
}



/* @end */

/* @group header */

#header {
  height: 50px;
  background-image: url(../images/header.png);
  line-height: 38px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#header ul {
  width: 950px;
  margin: 0 auto;
  padding: 7px 0 0;
  list-style-type: none;
  overflow: hidden;
}

#header ul li {
  display: inline;
  margin-right: 10px;
  float: left;
}

#header ul li a {
  line-height: 24px;
  font-size: 12px;
  font-style: italic;
  background: url(../images/header-right.png) right 0;
  float: left;
  color: #848484;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}

#header ul li a:hover {
  text-decoration: none;
  opacity: 0.5;
}

#header ul li a span {
  display: block;
  height: 26px;
  float: left;
  background: url(../images/header-left.png) no-repeat;
  padding-left: 10px;
  padding-right: 10px;
}



/* @end */

/* @group about */

#about {
  width: 950px;
  padding: 80px 0 59px;
  margin: 0 auto;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

#about h1 {
  margin-bottom: 4px;
  margin-top: 2px;
}

#about h2 {
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 14px;
}

/* --- */

#story {
  font-size: 18px;
  line-height: 30px;
  width: 340px;
  float: left;
  padding-right: 90px;
}

#picture {
  width: 190px;
  float: left;
}

/* @group contact */

#contact {
  width: 280px;
  float: left;
  padding-right: 50px;
  padding-top: 96px;
  list-style-type: none;
  line-height: 20px;
}

#contact li {
  width: 280px;
  overflow: hidden;
  margin-bottom: 5px;
}

#contact li span {
  float: left;
}

#contact li strong {
  float: right;
  text-align: right;
  color: #3c3c3c;
  font-weight: normal;
  font-style: normal;
}



/* @end */



/* @end */

/* @group section */

.section {
  width: 950px;
  margin: 0 auto;
  padding: 20px 0;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

.section h2 {
  width: 160px;
  padding-right: 30px;
  float: left;
  padding-top: 0;
  line-height: 22px;
}

.section h3 {
  line-height: 22px;
  margin-bottom: 24px;
  font-style: italic;
}

.section h4 {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: -20px;
}

.section .date {
  position: absolute;
  top: 6px;
  right: 0;
}

.section .item {
  width: 710px;
  padding-left: 50px;
  float: right;
  padding-top: 0;
  margin-bottom: 9px;
  position: relative;
  padding-bottom: 5px;
  background: url(../images/separator.png) no-repeat 0 bottom;
}

.section .description {
  width: 510px;
}



/* @end */

/* @group small */

body.small {
}

body.small #header ul  {
  width: 750px;
}

body.small #about {
  width: 750px;
  position: relative;
  padding-bottom: 65px;
  min-height: 260px;
}

body.small #about #story {
  float: none;
}

body.small #about #contact {
  float: none;
  padding-top: 0;
  padding-right: 0;
  clear: left;
}

body.small #about #picture {
  clear: none;
  float: none;
  position: absolute;
  top: 80px;
  right: 0;
}

/* --- */

body.small .section {
  width: 750px;
}

body.small .section .item {
  width: 510px;
}



/* @end */

/* @group footer */

#footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  
  color:#666;
 
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:10px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

/* @end */